/config.py
.idea/
__pycache__/
database.db
langbot.log
/banlist.py
/plugins/
!/plugins/__init__.py
!/plugins/chat_logger.py
!/plugins/chat_logger.yaml
!/plugins/README_chat_logger.md
!/plugins/chat_logger_config_example.yaml
!/plugins/IMPLEMENTATION_SUMMARY.md
/revcfg.py
prompts/
logs/
sensitive.json
temp/
current_tag
scenario/
!scenario/default-template.json
override.json
cookies.json
data/labels/announcement_saved.json
cmdpriv.json
tips.py
venv*
bin/
.vscode
test_*
venv/
hugchat.json
qcapi
claude.json
bard.json
/*yaml
!.pre-commit-config.yaml
!components.yaml
!/docker-compose.yaml
data/labels/instance_id.json
.DS_Store
/data
botpy.log*
/poc
/libs/wecom_api/test.py
/venv
test.py
/web_ui
.venv/
uv.lock
/test